@media(max-width: 900px) {

    .Image_container span {
        display: none;
    }
   
    .Nav_list {
        display: none;
    }
    .Nav_Menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 32px;
        padding: 5px;
        cursor: pointer;
    }

    .Orange_menu {
        background-color: #fff;
        color: rgb(241, 124, 81);
        /* border: 1px solid rgb(241, 124, 81); */
    }

    .White_menu {
        background-color: rgb(241, 124, 81);
        color: #fff;
        /* border: 1px solid white; */
    }


    @keyframes myAnim {
        0% {
            transform: translateX(70%);
            opacity: 0.65;
        }

        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .Mobile_nav {
        width: 35%;
        height: 60vh;
        display: flex;
        position: absolute;
        z-index: 50;
        animation: myAnim 0.2s ease-in;
        transition: all 350ms;
        top: 100%;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        justify-content: space-evenly;
        color: rgb(241, 124, 81);
    }

    .Mobile_nav:active {
        background-color: #fff;
        color: rgb(241, 124, 81);
    }

    .Mobile_nav li {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 10px;
        cursor: pointer;
    }

    .Mobile_nav li:hover {
        background-color: rgb(241, 124, 81);
        color: white;
    }

    .Abothome_Div {
        flex-direction: column;
        height: max-content;
    }

    .Img_container {
        width: 90%;
        margin-bottom: 20px;
    }

    .About_Info {
        width: 95%;
    }

    .About_Info h3 {
        width: 100%;
        text-align: center;
        margin: 12px 0px;
    }

    .Serv_cards {
        width: 100%;
        flex-direction: column;
        height: max-content;
    }

    .Servicehome_Card {
        width: 95%;
        border-radius: 7px;
    }

    .Servicehome_Card:hover {
        transition: none;
        border: none;
        transform: none;
    }
}