* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Header_container {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.75);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

/* .Reach_out {
    width: 100%;
    height: 30vh;
    display: flex;
    padding: 20px;
    padding-right: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    z-index: 99;
    bottom: 0;
    left: 0;
    background-color: transparent;
} */

.Reach_out__icons {
    font-size: 35px;
    height: 40px;
    margin: 5px;
    position: sticky;
    /* background-color: rgb(212, 211, 211); */
    z-index: 9999;
    bottom: 30px;
    left: 100%;
    cursor: pointer;
    color: green;
}

.Reach_out__icons__1 {
    font-size: 35px;
    height: 40px;
    margin: 5px;
    position: sticky;
    z-index: 9999;
    bottom: 80px;
    left: 100%;
    cursor: pointer;
    color: green;
}



.Reach_out__icons:hover {
    transform: scale(1.10);
}

.Orange_Header {
    background-color: rgb(241, 124, 81);
    color: white;
}

.White_Header {
    background-color: #fff;
    color: rgb(241, 124, 81);
}

.Image_container span {
    margin-left: 35px;
    margin-bottom: 5px;
    font-style: italic;
}

.Nav_list {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.Nav_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.Nav_list li:hover {
    border: 1px solid white;
    color: rgb(37, 37, 58);
    transform: scale(1.09);
    transition: all 350ms ease-in;
}

.Nav_Menu {
    display: none;
}

.Mobile_nav {
    display: none;
}

.Home_container{
    width: 100%;
    height: 120vh;
    background: url('../Assets/newhome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.About_container {
    width: 100%;
    height: max-content;
    background-color: #fff;
    padding: 30px;
}

.About_Top {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About_Img__container {
    width: 50%;
    height: 90%;
    margin-left: -120px;
    object-fit: cover;
}

.About_Img__container img {
    width: 100%;
    height: 100%;
}

.About_Text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: #000; */
    color: rgb(241, 124, 81);
}

.About_Text h1, .About_Text h3 {
    width: 100%;
    display: flex;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

.About_Text p {
    width: 100%;
    display: flex;
    font-size: 19px;
    line-height: 21px;
    justify-content: center;
    text-align: center;
    margin: 15px 0px;
}

.Product_container {
    width: 100%;
    height: max-content;
    display: flex;
    background-color: #fff;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Product_Card {
    width: 23%;
    height: 300px;
    padding: 20px 7px;
    margin: 20px 0px;
    border-radius: 7px;
    border: 1px solid gray;
    /* background-color: black; */
}

.Product_container h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(241, 124, 81);
}

.Product_Card img {
    width: 100%;
    height: 70%;
    /* border: none; */
    display: flex;
    background-color: rgb(194, 15, 15);
}

.Order_btn {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(241, 124, 81);
}
.Order_btnn {
    padding: 10px;
    color: rgb(241, 124, 81);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.Abouthome_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 25px;
    background-color: rgb(241, 124, 81);
    color: white;
}

.Servicehome_container {
    width: 100%;
    height: max-content;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* margin-bottom: 125px; */
    color: rgb(241, 124, 81);
    /* justify-content: space-between; */
    align-items: center;
    background-color: white;
}

.Servicehome_container h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.Servicehome_container p {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.Serv_cards {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.Servicehome_Card {
    width: 30%;
    height: max-content;
    padding: 15px;
    display: flex;
    color: white;
    cursor: pointer;
    margin-top: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 124, 81);
}

.Servicehome_Card:hover {
    border: 1px solid rgb(241, 124, 81);
    transform: scale(1.09);
    color: rgb(241, 124, 81);
    background-color: #fff;
    transition: all 350ms ease-in;
}

.Servicehome_Card h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}

.Serv_icon {
    font-size: 55px;
    color: inherit;
}


.Abouthome_container h1 {
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 600;
}

.Abothome_Div {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.Admin_container {
    width: 100%;
    height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Admin_container h1 {
    color: rgb(241, 124, 81);
    margin-bottom: 5px;
}

.Admin_prod__container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    flex-wrap: wrap;
}

.Upload_form {
    width: 80%;
    height: 70vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(206, 200, 200);
    color: #fff;
}

.Upload_form input {
    width: 30%;
    height: 35px;
    border-radius: 6px;
    padding: 5px;
    /* border: none; */
    outline: rgb(241, 124, 81);
    margin: 5px;
}

.Img_container {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    /* background: #000; */
    margin-left: -85px;
    object-fit: cover;
}

.Img_container img {
    width: 100%;
    height: 100%;
}

.About_Info {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.About_Info h1 {
    font-size: 30px;
    font-weight: 500;
}

.About_Info p {
    font-size: 17px;
    text-align: center;
}

.About_Info h3 {
    font-size: 25px;
    font-weight: 26px;
}

.More_Btn {
    width: 130px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: 500;
    align-items: center;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid rgb(250, 79, 17);
}

.About_btn {
  background-color: #fff;
  color: rgb(241, 124, 81);
  cursor: pointer;
}

.Contacthome {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 124, 81);
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: max-content;

}

.Contacthome_div {
    width: 60%;
    background-color: white;
    color: rgb(241, 124, 81);
    height: 40vh;
}

.Uploadbtn {
    width: 75%;
    height: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 124, 81);
    color: #fff;
}

.upload_cont {
    width: 30%;
    height: 200px;
    background: #000;
    margin-bottom: 20px;
}

.upload_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Footer_container {
    width: 100%;
    height: max-content;
    padding: 25px;
    display: flex;
    background: rgb(212, 211, 211);
    justify-content: space-between;
    align-items: center;
}

.Footer_container h1 {
    color: rgb(241, 124, 81);
    font-weight: 600;
    margin-bottom: 30px;
}

.Sitemap {
    width: 30%;
    height: 100%;
    text-align: center;
    color: rgb(241, 124, 81);
    /* background-color: rgb(16, 230, 105); */
}

.Sitemap a {
    text-decoration: none;
}

.Sitemap li {
    list-style-type: none;
    /* text-decoration: none; */
    color: rgb(241, 124, 81);
    padding: 5px;
    cursor: pointer;
}

.Footer_contact {
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer_contact h1 {
    margin-bottom: 15px;
}

.Footer_contact p {
    width: 90%;
    color: rgb(241, 124, 81);
}

.Logbtn {
    width: 180px;
}

.Sitemap p {
    width: 100%;
    height: 100%;
    display: flex;
    /* cursor: pointer; */
    align-items: flex-end;
}

.Index_container {
    background-color: rgb(212, 211, 211);
}

.Adminlog_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(241, 124, 81);
    color: #fff;
}

.Adminlog_container h1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Admin_verify {
    width: 50%;
    height: 40vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
}

.Admin_verify input {
    width: 80%;
    /* margin-left: 10%; */
    margin: 15px 0px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(241, 124, 81);
}



.Delete_btn {
    padding: 13px;
    color: rgb(241, 124, 81);
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
}